AWS_REGION=us-east-1
PROJECT_NAME=tv-devops-assessment
ECR_REPOSITORY_NAME=tv-devops-app
TERRAFORM_STATE_BUCKET=tv-devops-terraform-state-lvukovich
TERRAFORM_LOCK_TABLE=tv-devops-terraform-locks
CONTAINER_PORT=3000
DESIRED_COUNT=1
CPU=256
MEMORY=512